<!DOCTYPE HTML>
<html lang="lt">
    <head>
        <title>Paveikslėliai</title>
        <meta charset="utf-8" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>       
        <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/lightbox/0.5/css/jquery.lightbox-0.5.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <script type="text/javascript" src="//cdn.jsdelivr.net/lightbox/0.5/js/jquery.lightbox-0.5.min.js"></script>
        <script type="text/javascript" src="js/loading.jQuery.js"></script>
        <script type="text/javascript" src="js/serializeFormExt.jQuery.js"></script>
        <script type="text/javascript" src="js/main.js"></script>        
    </head>    
<body>

    <form class="upload_form" method="post" action="" enctype="multipart/form-data" autocomplete="off">
        <table border="0">
            <tr>                
                <td>
                    <label for="file">Failas:</label>
                </td>
                <td>
                    <input type="file" name="file" accept="image/*" required="required" />
                </td>
                <td class="requirements" rowspan="3">
                                Reikalavimai
                    <ul>
                        <li>
                            Galima įkelti failus iki 6 MB dydžio.
                        </li>
                        <li>
                            Visi jie turi būti paveiksliukai.
                        </li>
                        <li>
                            Abu laukai turi būti užpildyti.
                        </li>
                        <li>
                            Minimalus paveikslėlio plotis bei ilgis - 300.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                     <label for="name">Pavadinimas:</label>
                </td>
                <td>
                    <input type="text" name="name" placeholder="Kaip vadinsis paveikslėlis?"  required="required" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Įkelti</button>
                </td>                
            </tr>
        </table>              
    </form>
    
    <div id="images_list">
        {% for image in images %}
            {% include 'item.twig.html' with image %}
        {% else %}
            <p>Šiuo metu nėra įkelta jokių paveikslėlių</p>
        {% endfor %}
    </div>

</body>
</html>